body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.top {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.header-logo {
    font-weight: bold;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.intro-button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 4px;
}

.placeholder {
    padding: 50px;
    background-color: rgba(201, 201, 201, 0.473);
}

.header-link-container {
    display: flex;
}

.intro-content {
    display: flex;
}

/*end of top*/

.content1-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}

.content-box-container {
    display: flex;
    color: rgb(77, 77, 77);
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 4px solid #3882F6;
}

/*end of content1*/

.content2 {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    color: #1F2937;
    font-size: 20px;
    font-weight: bold;
}

/*end of content2*/

.content3 {
    background-color: #3882F6;
    color: white;
}

.content3-title {
    font-size: 22px;
    font-weight: 500;
}

.content3-details {
    color: rgb(230, 230, 230);
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    border: none;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    width: 100px;
    height: 30px;
}

/*end of content3*/

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

/*end of footer*/